node_modules/
dist/
build/
.npm/
.yarn/cache/
logs/
*.log
coverage/
.eslintcache
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
.parcel-cache/

@dniL16032021GIO